# Alles for M5Stack Atom VoiceS3R (ESP32-S3-PICO-1-N8R8)

# Flash: 8MB QIO, PSRAM: 8MB Octal
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="alles_partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="alles_partitions.csv"

# Console over the native USB Serial/JTAG port
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
